.romana{
text-align: center;
font-size: 35px;
}
.logo{
margin-left: 80%;
position: absolute;

}
.body{
    background: lightgray;
}
.lote-cc,.fecha-sacrificio,.fecha-produccion{
width: 15%;
height: 3%;
position:relative;
margin-bottom: 1%;
}
.etiqueta,.consecutivo,.tipo-produccion{
margin-left: 2%;
height: 4%;

}
.peso{
width: 20%;
height: 10%;
text-align: center;
font-size: 400%;
position: static;
margin-left: 0%;
}
.tara{
margin-left: 15%;
width: 10%;
height: 10%;
font-size: 300%;
text-align: center;
}

/*botones de los cortes*/
.botones{
width: 60%;
height: 10%;
font-size: 70px;
position: absolute;
}
.btn-cortes{
background: lightblue;
width: 60px;
height: 60px;
border-radius: 8px;
}
.btn-cortes:hover{
width: 70px;
height: 70px;
font-style: italic;
background-color: rgb(85, 231, 250);
transition: 160ms
}
.resumen-btn{

border-radius: 8px;
background: burlywood;
width: 160px;
height: 40px;
margin-bottom: 20px;
margin-left: 60%;
font-size: 16px;
}
.panel{
margin-right: 1%;
margin-left: 55%;
}
.resumen-btn:hover{
font-style: italic;
height: 60px;
transition: 100ms;
}
.imprimir-btn{
border-radius: 8px;
background: rgb(1, 196, 255);
width: 160px;
height: 40px;
margin-left: 81.5%;
font-size: 20px;
margin-top: 3%;
}
.imprimir-btn:hover{
height: 50px;
transition: 80ms;
}